{% extends "base.html" %} 

{% block content %}

    <section class="mb-6">
        <h2 class="text-xl mb-2">About</h2>
        <p>This website was designed to view information about providers enrolled in Medicare under the Opioid Treatment Program. 
        </p>
    </section>

    <section>
        <h2 class="text-xl mb-2">The dataset contains the following information: </h2>
        <ul class="list-disc pl-5">
            <li>Provider Name</li>
            <li>National Provider Identifier (NPI)</li>
            <li>Address</li>
            <li>Effective Enrollment Date</li>
            <li>Phone Number</li>
        </ul>
    </section>



{% endblock %}
