{% extends "base.html" %} 

{% block content %}

    <section class="mb-6">
        <h2 class="text-xl mb-2">About</h2>
        <p>This website was designed to manage patient data efficiently and securely. We aim to increase healthcare access 
            by providing a website for easy patient data retrieval and management. 
        </p>
    </section>

    <section>
        <h2 class="text-xl mb-2">Features</h2>
        <ul class="list-disc pl-5">
            <li>Secure patient data management</li>
            <li>Easy appointment scheduling</li>
            <li>Interactive dashboards for health metrics</li>
            <li>Secure user login and two-factor authentication</li>
            <li>Billing and insurance management</li>
        </ul>
    </section>



{% endblock %}
