<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Healthcare App</title>
    
    <!-- Tailwind CSS via CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-200">

    <header class="bg-blue-600 text-white p-4">
        <h1 class="text-2xl">My Healthcare App</h1>
        <nav>
            <ul class="flex space-x-4">
                <li><a href="/" class="hover:underline">Home</a></li>
                <li><a href="/about" class="hover:underline">About</a></li>
                <li><a href="/data" class="hover:underline">Data</a></li>
            </ul>
        </nav>
    </header>



    <main class="p-4">

        {% block content %}
        <section class="mb-6">
            <h2 class="text-xl mb-2">Welcome to My Healthcare App</h2>
            <p> </p>
        </section>

        <section class="mb-6">
            <p>This application was designed to view information about providers enrolled in Medicare under the Opioid Treatment Program. </p>
        </section>

        <br/>

        <section>
            <h2 class="text-xl mb-4"> Reference</h2>
            <p>The dataset was taken from the Centers for Medicare and Medicaid Services (CMS).
                <br>
                <br>
                Centers for Medicare and Medicaid Services. (2023, September 11). <i>Opioid Treatment Program Providers.</i> Data.CMS.gov. 
                <br>
                Retrieved September 15, 2023, from https://data.cms.gov/provider-characteristics/medicare-provider-supplier-enrollment/opioid-treatment-program-providers
            </p> 
            
        </section>


        {% endblock %}

    </main>

    <footer class="bg-blue-600 text-white p-4 mt-6">
        <p>© 2023 My Healthcare App. All Rights Reserved.</p>
    </footer>
</body>

</html>